<h1>Socials for {{ getUserName() }}</h1>
<table mat-table [dataSource]="dataSource">
    <!-- link Column -->
    <ng-container matColumnDef="link">
        <th mat-header-cell *matHeaderCellDef> Social </th>
        <td mat-cell *matCellDef="let element">
            <a href="{{element.link}}">{{element.name}}</a>
        </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>