<button mat-button color="primary" (click)="addSocial()">Add Social</button>
<h1>Welcome {{ getUserName() }}</h1>
<table mat-table [dataSource]="dataSource">
  <!-- link Column -->
  <ng-container matColumnDef="link">
    <th mat-header-cell *matHeaderCellDef> Social </th>
    <td mat-cell *matCellDef="let element">
      <a href="{{element.link}}">{{element.name}}</a>
    </td>
  </ng-container>

  <!-- Description Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <!-- Edit Column -->
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef> Edit </th>
    <td mat-cell *matCellDef="let element">
      <button mat-button color="accent" (click)="editSocial(element)">Edit Social</button>
    </td>
  </ng-container>
  <!-- Remove Column -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Delete </th>
    <td mat-cell *matCellDef="let element">
      <button mat-button color="warn" (click)="deleteSocial(element)">Delete Social</button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>