table {
    width: 100%;
    background: whitesmoke;
    text-align: center;
}

.mat-header-cell {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.mat-row {
    height: 100px;
}

button[color='primary'] {
    background: #9fdf98;
    font-size: 25px;
    float: right;
    margin: 20px;
    height: 45px;
    color: darkgreen;
    font-weight: bold;
    border-radius: 15px;
}

button[color='accent'] {
    background: #9393f5;
    font-size: 15px;
    color: darkblue;
    font-weight: bold;
    border-radius: 15px;
}

button[color='warn'] {
    background: #ff9595;
    font-size: 15px;
    color: #a10404;
    font-weight: bold;
    border-radius: 15px;
}

h1 {
    text-align: center;
    font-family: cursive;
    padding: 15px;
}