<div id="g_id_onload" data-client_id="35804208116-3hjqs624qaa8gnvlmop8vs09813mloit.apps.googleusercontent.com" data-login_uri="http://localhost:3000/api/checkUser" data-auto_prompt="false">
</div>
<div class="g_id_signin" data-type="standard" data-size="large" data-theme="outline" data-text="sign_in_with"
    data-shape="rectangular" data-logo_alignment="left">
</div>