mat-form-field {
    width: 100%;
}

.mat-dialog-actions {
    text-align: center;
    display: block;
}

.cancel-social {
    background: #ff9595;
    font-size: 15px;
    color: #a10404;
    font-weight: bold;
    border-radius: 15px;
}

.add-social {
    background: #9fdf98;
    font-size: 15px;
    color: darkgreen;
    font-weight: bold;
    border-radius: 15px;
}